<h1>Tasks#show</h1>
<p>Find me in app/views/tasks/show.html.erb</p>
<!-- TODO: render form -->
<!-- why is this asking for a render form? -->
<h1>
  <%= @task.name %>
</h1>
<p>
  <%= @task.description %>
</p>
<p>
  <% if @task.status == true %>
    <%="Task completed"%>
    <% else %>
    <%= "Awaiting task completion" %>
    <% end %>
</p>
<h3>
  <%= link_to "back", tasks_path %>
</h3>
